{% extends 'index.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="banner">
        <h2 class="fs-3">Acerca de nosotros</h2>
    </div>
</div>

<div class="container my-5 fs-3">
    <p>
        ChibchaWeb, una empresa de hospedaje de páginas web con sede en Sugamuxi. Nos enorgullecemos de nuestro compromiso
        inquebrantable con la satisfacción de nuestros clientes, los cuales no solo provienen de Colombia, sino que también
        confían en nosotros desde países aledaños. Nuestra larga trayectoria en el sector de alojamiento web nos ha
        permitido acumular una rica experiencia en la administración y el soporte de miles de sitios web pertenecientes a
        diversos clientes.
    </p>
    
    <p>
        En ChibchaWeb, nuestro enfoque es brindar soluciones de alojamiento de calidad que se adapten a las necesidades
        individuales de nuestros clientes. Entendemos que cada proyecto web es único, y es por eso que ofrecemos una amplia
        gama
        de servicios, incluyendo una variedad de paquetes de "hosting" en plataformas Windows y Unix. Ya sea que necesites
        el
        rendimiento superior de nuestro paquete Chibcha-Platino, el equilibrio entre rendimiento y asequibilidad de
        Chibcha-Plata, o la solución sólida de Chibcha-Oro para proyectos más pequeños, estamos aquí para respaldar tus
        necesidades de alojamiento web.
    </p>
    
    <p>
        Nuestro compromiso no se detiene en el alojamiento. También ofrecemos servicios de dominio, seguridad en línea y
        herramientas de desarrollo para respaldar tus esfuerzos en línea. Nuestro equipo de expertos técnicos está siempre
        dispuesto a ayudarte y garantizar que tu experiencia en línea sea exitosa.
    </p>
    
    <p>
        En ChibchaWeb, creemos que la calidad y la confiabilidad son fundamentales, y trabajamos arduamente para brindarte
        un
        servicio de hosting de primera clase. Esperamos ser tu socio confiable en el mundo digital y ayudarte a alcanzar tus
        objetivos en línea.
    </p>
</div>

{% endblock%}