{% extends 'index.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Perfil del Cliente</title>
  <!-- Agrega aquí los enlaces a los archivos CSS de Bootstrap y tu propio CSS personalizado si lo tienes -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
  <div class="container mt-5 flex-column">
    <div class="row">
      <div class="col-md-6">
        <div class="card h-100 d-flex flex-column">
          <div class="card-header">Información del Cliente</div>
          <div class="card-body">
            <p>
              <strong>Usuario:</strong>
              <span id="usuario">{{cliente.usuario.username}}</span>
            </p>
            <p>
              <strong>Nombre:</strong>
              <span id="nombre">{{cliente.nombreCliente}}</span>
            </p>
            <p>
              <strong>Fecha de Nacimiento:</strong>
              <span id="fechaNacimiento">{{cliente.fechaNacimientoCliente}}</span>
            </p>
            <p>
              <strong>Email:</strong>
              <span id="email">{{cliente.emailCliente}}</span>
            </p>
            <p>
              <strong>País:</strong>
              <span id="pais">{{cliente.paisCliente}}</span>
            </p>
            <p>
              <strong>Ciudad:</strong>
              <span id="ciudad">{{cliente.ciudadCliente}}</span>
            </p>

            <div class="text-center">
              <a class="btn btn-primary" href="{% url 'editarCliente' cliente.usuario_id %}">
                Modificar Información
              </a>
              <a class="btn btn-danger" href="{% url 'eliminarUsuario' %}">
                Eliminar cuenta
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100 d-flex flex-column">
          <div class="card-header">Tarjeta</div>
          <div class="card-body">
            <p><strong>Número de Tarjeta:</strong> {{tarjeta.numeroTarjeta}}</p>
            <p><strong>CVC:</strong> {{tarjeta.cvc}} </p>
            <p><strong>Fecha de Vencimiento:</strong>{{tarjeta.fechaVencimientoMes}}/{{tarjeta.fechaVencimientoAnio}}
            </p>
            <p><strong>Dirección:</strong>{{tarjeta.direccion}}</p>
          </div>
          <div class="mt-auto">
            <a href="{% url 'cambiarTarjeta' %}" class="btn btn-outline-primary d-block mx-auto mt-2">Cambiar
              Tarjeta</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="mt-4">
          <h3>Dominio</h3>
          <div style="max-height: 400px; min-height: 100px; overflow-y: auto;">
            {% if dominios %}
            <ul class="list-group">
              {% for dominio in dominios %}
              <li class="list-group-item">
                <a
                  href="{% url 'modificarDominio' dominio.dominioId %}">{{dominio.nombreDominio}}{{dominio.extensionDominio.extensionDominio}}</a>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <h5>Aún no tienes dominios.</h5>
            {% endif %}
          </div>

          <div class="mt-auto">
            <a href="{% url 'registrarDominio' %}" class="btn btn-outline-primary d-block mx-auto mt-2">Registrar
              Dominio</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mt-4">
          <h3>Tickets</h3>
          <div style="max-height: 400px; min-height: 100px; overflow-y: auto;">
            {% if tickets %}
            <ul class="list-group">
              {% for t in tickets %}
              <li class="list-group-item">
                <a href="{% url  'consultaTicketCli' t.pk %}">
                  {{ t.titulo }}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <h5>Aún no tienes tickets.</h5>
            {% endif %}
          </div>
          <div class="mt-auto">
            <a href="{% url 'crearTicket' %}" class="btn btn-outline-primary d-block mx-auto mt-2">Crear nuevo
              ticket</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <h3>Sitios Web</h3>

      {% if sitios_web %}
      <ul class="list-group">
        {% for sitio in sitios_web %}
        <li class="list-group-item">
          <a href="{% url 'modificarPagina' sitio.webId %}">{{ sitio.dominio.nombreDominio }}{{sitio.dominio.extensionDominio.extensionDominio }}</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <h5>Aún no tienes sitios web.</h5>
      {% endif %}

      </ul>


      <a href="{% url 'registrarPagina' cliente.usuario_id %}" class="btn btn-success m-4">Agregar
        página</a>
    </div>
  </div>

  <div class="text-right">
    <a href="{% url 'cerrarSesion' %}" class="btn btn-danger m-4">Cerrar Sesión</a>
  </div>
  <!-- Agrega aquí los enlaces a los archivos JavaScript de Bootstrap y tus propios scripts si es necesario -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

{% endblock %}