{% extends 'index.html' %} {%load static%} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Day 001 Login Form</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:600"
    />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
  </head>

  <body>
    <!-- partial:index.partial.html -->

    <div class="login-wrap">
      <div class="login-html">
        <input
          id="tab-1"
          type="radio"
          name="tab"
          class="sign-in"
          checked
        /><label for="tab-1" class="tab">Iniciar sesión</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
          for="tab-2"
          class="tab"
          >Registrate</label
        >
        <div class="login-form">
          <form method="post" action="{% url 'inicioSesion' %}">
            {% csrf_token %}
            <div class="sign-in-htm">
              <div class="group">
                <label for="user" class="label">Nombre Usuario</label>
                <input
                  id="userL"
                  type="text"
                  name="usuarioCliente"
                  class="input"
                />
              </div>
              <div class="group">
                <label for="pass" class="label">Contraseña</label>
                <input
                  id="passL"
                  type="password"
                  name="contraseniaCliente"
                  class="input"
                  data-type="password"
                />
              </div>
              <div class="group">
                <input id="check" type="checkbox" class="check" checked />
                <label for="check"
                  ><span class="icon"></span> Recordar mi usuario</label
                >
              </div>
              <div class="group">
                <input type="submit" class="button" value="Ingresar" />
              </div>
              <div>
                {% if mensaje_advertencia %}
                <div class="alert alert-warning" role="alert">
                  {{ mensaje_advertencia }}
                </div>
                {% endif %}
              </div>
              <div class="hr"></div>
              <div class="foot-lnk">
                <a href="#forgot">¿Olvide mi Contraseña?</a>
              </div>
              <div class="foot-lnk-a">
                <a href="{% url 'admin:index' %}">Inicio administradores</a>
              </div>
            </div>
          </form>
          <div class="sign-up-htm">
            <form method="post" action="{% url 'registroCliente' %}">
              {% csrf_token %}
              <div class="group">
                <label for="name" class="label">Nombre</label>
                <input
                  id="name"
                  name="name"
                  type="text"
                  class="input"
                  required
                />
              </div>
              <div class="group">
                <label for="fecha" class="label">Fecha nacimiento</label>
                <input
                  id="fecha"
                  name="fecha"
                  type="date"
                  class="input"
                  required
                />
              </div>
              <div class="group">
                <label for="email" class="label">email</label>
                <input
                  id="email"
                  name="email"
                  type="email"
                  class="input"
                  required
                />
              </div>
              <div class="group">
                <label for="countrySelect" class="label">Pais</label>
                <select
                  class="n"
                  id="countrySelect"
                  name="countrySelect"
                  onchange="updateCitySelect()"
                  required
                >
                  <option value="0">Selecciona un país</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Bolivia">Bolivia</option>
                  <option value="Brasil">Brasil</option>
                  <option value="Canadá">Canadá</option>
                  <option value="Chile">Chile</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Costa_Rica">Costa Rica</option>
                  <option value="Cuba">Cuba</option>
                  <option value="Ecuador">Ecuador</option>
                  <option value="El_Salvador">El Salvador</option>
                  <option value="Estados_Unidos">Estados Unidos</option>
                  <option value="Guatemala">Guatemala</option>
                  <option value="Honduras">Honduras</option>
                  <option value="México">México</option>
                  <option value="Nicaragua">Nicaragua</option>
                  <option value="Panamá">Panamá</option>
                  <option value="Paraguay">Paraguay</option>
                  <option value="Perú">Perú</option>
                  <option value="Uruguay">Uruguay</option>
                  <option value="Venezuela">Venezuela</option>
                </select>
              </div>
              <div class="group">
                <label for="citySelect" class="label">Ciudad</label>
                <select class="n" id="citySelect" name="citySelect" required>
                  <option value="0">Selecciona un país primero</option>
                </select>
              </div>
              <div class="group">
                <label for="user" class="label">Nombre usuario</label>
                <input
                  id="user"
                  name="user"
                  type="text"
                  class="input"
                  required
                />
              </div>
              <div class="group">
                <label
                  for="pass"
                  id="password"
                  class="label"
                  type="password"
                  onchange="checkPasswordsMatch()"
                  >Contraseña</label
                >
                <input
                  id="pass"
                  name="pass"
                  type="password"
                  class="input"
                  data-type="password"
                  required
                />
              </div>
              <div class="group">
                <label
                  for="Repass"
                  id="confirmPassword"
                  class="label"
                  type="password"
                  onchange="checkPasswordsMatch()"
                  >Confirmar Contraseña</label
                >
                <input
                  id="Repass"
                  name="Repass"
                  type="password"
                  class="input"
                  data-type="password"
                  required
                />
              </div>
              <div class="group">
                <button type="submit" class="button">Registrar</button>
              </div>
            </form>
            <div>
              {% if mensaje_advertencia %}
              <div class="alert alert-info" role="alert">
                {{ mensaje_advertencia }}
              </div>
              {% endif %}
            </div>
            <div class="hr"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- partial -->
    <script src="{% static 'js/login.js'%}"></script>
  </body>
</html>

{% endblock %}
