{% extends 'index.html' %} {% load static %} {% block content %}
<h2 class="mt-2">Modificar Dominio</h2>
<div class="container mt-2">
  <!-- Formulario para modificar el dominio -->
  <form>
    {% csrf_token %}
    <div class="form-group">
      <label for="nombreExtension">Nombre de Extensión: {{ext.extensionDominio}}</label>
    </div>
    <div class="form-group">
      <label for="precio">Precio:</label>
      <input type="text" class="form-control" id="precio" value="{{ext.precioExtension}}">
    </div>
    <!-- Otros campos necesarios para la modificación del dominio -->

</div>

<div class="text-center">
  <!-- Botón para enviar el formulario -->
  <button type="submit" class="btn btn-primary" id="guardarCambiosBtn">Guardar Cambios</button>
</div>
</form>

</div>
<!-- Botón para volver al dashboard o página principal -->
<div class="text-center m-4">
  <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-3">Volver al Dashboard</a>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Espera a que se cargue el DOM antes de asignar el evento click
    const guardarCambiosBtn = document.getElementById("guardarCambiosBtn");

    guardarCambiosBtn.addEventListener("click", function () {
      // Obtén el nuevo valor del input
      const nuevoPrecio = document.getElementById("precio").value;

      // Valida si el nuevo precio es un número
      if (isNaN(nuevoPrecio)) {
        alert("Por favor, ingrese un número válido para el precio.");
        return;
      }

      // Construye los datos a enviar en la solicitud POST
      const datos = {
        precio: nuevoPrecio,
        id: "{{ext.pk}}"
        // Otros campos necesarios para la modificación del dominio
      };

      // Envia la solicitud POST utilizando Fetch
      fetch('{% url "actExtension" %}', {
        method: "POST",
        headers: {
          "X-CSRFToken": getCookie('csrftoken'),  // Agrega el token CSRF al encabezado
        },
        body: JSON.stringify(datos),
      })
        .then(response => response.json())
        .then(data => {


          if (data.success) {
            alert("Cambios guardados correctamente"); // Recargar la página actual si la carga fue exitosa
          } else {
            // Manejar otra lógica si la carga no fue exitosa
          }
        })
        .catch(error => {
          console.error("Error al enviar la solicitud:", error);
          alert("Error al guardar cambios. Por favor, inténtelo de nuevo.");
        });
    });

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.startsWith(name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  });

</script>

{% endblock %}