{% extends 'index.html' %} {% load static %} {% block content %}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Información del Dominio</h3>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <strong>Nombre del Dominio:</strong>
            {{dominio.nombreDominio}}{{dominio.extensionDominio.extensionDominio}}
          </div>
          <div class="mb-3">
            <strong>Fecha de Compra:</strong> {{ dominio.fechaSolicitud }}
          </div>
          <div class="mb-3">
            <strong>Distribuidor:</strong> {{ distribuidor.nombreDistribuidor }}
          </div>
          <div class="mb-3">
            <strong>Tiempo en Meses:</strong> {{ dominio.tiempoPropiedad }}
            meses a partir del dia de la solicitud
          </div>

          <!-- Botones -->
          <div class="text-center">
            <a
              href="{% url 'cancelar_dominio' dominio.dominioId %}"
              class="btn btn-danger"
              >Cancelar Dominio</a
            >
            <a href="{% url 'dashboard' %}" class="btn btn-primary"
              >Volver al Dashboard</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
