{% extends 'index.html' %} {% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card h-100 d-flex flex-column">
          <div class="card-header bg-warning text-white">
            {{planes.0.nombrePlan}}
          </div>
          <div class="card-body">
            <h5 class="card-title">Descripción:</h5>
            <p>{{planes.0.descripcionPlan}}</p>
            <h5 class="card-title">Características:</h5>
            <ul>
              {% for caracteristica in planes.0.caracteristicasPlan.all%}
              <li>{{caracteristica}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="mt-auto">
            <div class="text-center">
              <h5 class="card-title">Precios (COP):</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Mensual: ${{planes.0.precioMensual}}
              </li>
              <li class="list-group-item">
                Trimestral: $135,000 (Descuento del 10%)
              </li>
              <li class="list-group-item">
                Semestral: $240,000 (Descuento del 15%)
              </li>
              <li class="list-group-item">
                Anual: $420,000 (Descuento del 20%)
              </li>
            </ul>
            {% if user.is_authenticated %}
                <a id= 2 class="btn btn-primary d-block mx-auto mt-2" onclick="enviarPlan(this.id)">
                  Suscribirse
                </a>
                {% else %}
                <a class="btn btn-primary d-block mx-auto mt-2" href="{% url 'inicioSesion' %}">
                  Suscribirse
                </a>
                {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 d-flex flex-column">
          <div class="card-header bg-success text-white">
            {{planes.1.nombrePlan}}
          </div>
          <div class="card-body">
            <h5 class="card-title">Descripción:</h5>
            <p>{{planes.1.descripcionPlan}}</p>
            <h5 class="card-title">Características:</h5>
            <ul>
              {% for caracteristica in planes.1.caracteristicasPlan.all%}
              <li>{{caracteristica}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="mt-auto">
            <div class="text-center">
              <h5 class="card-title">Precios (COP):</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Mensual: ${{planes.1.precioMensual}}
              </li>
              <li class="list-group-item">
                Trimestral: $216,000 (Descuento del 10%)
              </li>
              <li class="list-group-item">
                Semestral: $384,000 (Descuento del 15%)
              </li>
              <li class="list-group-item">
                Anual: $672,000 (Descuento del 20%)
              </li>
            </ul>

            {% if user.is_authenticated %}
                <a id= 3 class="btn btn-primary d-block mx-auto mt-2" onclick="enviarPlan(this.id)">
                  Suscribirse
                </a>
                {% else %}
                <a class="btn btn-primary d-block mx-auto mt-2" href="{% url 'inicioSesion' %}">
                  Suscribirse
                </a>
                {% endif %}

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 d-flex flex-column">
          <div class="card-header bg-primary text-white">
            {{planes.2.nombrePlan}}
          </div>
          <div class="card-body">
            <h5 class="card-title">Descripción:</h5>
            <p>{{planes.2.descripcionPlan}}</p>
            <h5 class="card-title">Características:</h5>
            <ul>
              {% for caracteristica in planes.2.caracteristicasPlan.all%}
              <li>{{caracteristica}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="mt-auto">
            <div class="text-center">
              <h5 class="card-title">Precios (COP):</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Mensual: ${{planes.2.precioMensual}}
              </li>
              <li class="list-group-item">
                Trimestral: $420,000 (Descuento del 10%)
              </li>
              <li class="list-group-item">
                Semestral: $780,000 (Descuento del 15%)
              </li>
              <li class="list-group-item">
                Anual: $1,440,000 (Descuento del 20%)
              </li>
            </ul>
            {% if user.is_authenticated %}
                <a id= 4 class="btn btn-primary d-block mx-auto mt-2" onclick="enviarPlan(this.id)">
                  Suscribirse
                </a>
                {% else %}
                <a class="btn btn-primary d-block mx-auto mt-2" href="{% url 'inicioSesion' %}">
                  Suscribirse
                </a>
                {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  MODAL     --> 
  
  <div class="modal fade" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmacionModalLabel">Confirmación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if valor_aceptado %}
              <p>Ya tienes un plan asociado a tu cuenta, si te suscribes a este plan, el valor mensual podría cambiar. ¿Deseas suscribirte?</p>
          {% else %}
              <p>Tu tarjeta ha sido aceptada. El valor será descontado mensualmente automáticamente de tu tarjeta.</p>
          {% endif %}
      </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" id="btnRegistrarModal">Suscribirse</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Error -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="errorModalMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnSalir"></button>
      </div>
    </div>
  </div>
</div>
</body>

{% csrf_token %}
<script>
  function enviarPlan(id) {
    if("{{ tarjeta }}"){
    $('#confirmacionModal').modal('show');

    $('#btnRegistrarModal').on('click', function() {

      fetch('{% url "agregarPlan" %}', {
          method: "POST",
          body: JSON.stringify({ id: id }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.redirect) {
              var url = "{% url 'dashboard' %}";  
              window.location.href = url;
            } else {
              // Manejar otra lógica si la carga no fue exitosa
            }
          })
          .catch((error) => {
            // Manejar errores si la solicitud falla
          });
    });
  } else{
      error()
    } 

}

  
  function error() {
  $('#errorModal').modal('show');
  $('#errorModalTitle').text('Error');
  $('#errorModalMessage').text('Parece que tu tarjeta no ha sido verificada correctamente. Es necesario realizar su verificación.');
  $('#btnSalir').text('Salir');
}

</script>

</html>
{% endblock %}