{% extends 'index.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <title>Mi Página Web</title>
    <style>
      .file-upload {
        border: 2px dashed #cccccc;
        text-align: center;
        padding: 20px;
        cursor: pointer;
      }

      .file-upload:hover {
        background-color: #f8f8f8;
      }

      .file-upload input[type="file"] {
        display: none;
      }

      .file-list {
        list-style: none;
      }

      .file-list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #cccccc;
        padding: 10px 0;
      }
    </style>
  </head>

  <body>
    <div class="container mt-5">
      {% if plan %}
      <div class="row">
        <div class="col-md-12">
          <!-- Contenedor para alinear verticalmente los cards -->
          <div class="d-flex flex-column">
            <!-- Card de Dominio -->
            <div class="card mb-3">
              <div class="card-header">Dominio</div>
              <div class="card-body">
                <p>¿Qué deseas hacer con tu dominio?</p>
                <div>
                  {% if dominios_disponibles %} {% csrf_token %}
                  <form id="formCrearSitioWeb">
                    <select
                      name="selectDominio"
                      id="selectDominio"
                      class="form-select"
                    >
                      {% for dominio in dominios_disponibles %}
                      <option value="{{ dominio.dominioId }}">
                        {{dominio.nombreDominio}}{{dominio.extensionDominio.extensionDominio}}
                      </option>
                      {% endfor %}
                    </select>
                  </form>

                  {% else %}
                  <p>No hay dominios disponibles</p>
                  {% endif %}
                </div>

                <div class="column text-center mt-2">
                  <a
                    href="{% url 'registrarDominio' %}"
                    class="btn btn-secondary"
                    >Registrar Nuevo Dominio</a
                  >
                  <!--<a href="#" onclick="usarDominio()" class="btn btn-success ">Usar Dominio Seleccionado</a> -->
                </div>
              </div>
            </div>
            {% if dominios_disponibles %}
            <!-- Card de Archivos de tu sitio web -->
            <div class="card">
              <div class="card-header">Archivos de tu sitio web</div>
              <div class="card-body">
                <div class="file-upload" id="fileUploadArea">
                  <p>
                    Arrastra y suelta archivos o haz clic aquí para subirlos.
                  </p>

                  <input type="file" name="" id="input-file" hidden multiple />
                </div>

                <ul class="file-list" id="preview">
                  <!-- Aquí se listarán los archivos -->
                </ul>
              </div>
            </div>

            <!-- Botón para crear sitio web -->
            <div class="mt-3 text-center">
              <button id="btnCrearSitioWeb" class="btn btn-success">
                Crear sitio web
              </button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% else %}
      <div class="text-center">
        <h2>No cuentas actuamente con un plan de hosteo.</h2>
        <h2>¿Deseas ver un plan?</h2>
        <a href="{% url 'planes' %}" class="btn btn-secondary mt-3">Ver planes</a>
      </div>
      {% endif %}
      
    </div>
    
    <!-- Modal de Error -->
    <div
      class="modal fade"
      id="errorModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="errorModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel"></h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              onclick="cerrarModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="errorModalMessage"></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              id="btnSalir"
              onclick="cerrarModal()"
            >
              Salir
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal de Error -->
    <div
      class="modal fade"
      id="errorModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="errorModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel"></h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="errorModalMessage"></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              id="btnSalir"
            ></button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function error() {
        $("#errorModal").modal("show");
        $("#errorModalTitle").text("Error");
        $("#errorModalMessage").text(
          "Parece que tu tarjeta no ha sido verificada correctamente. Es necesario realizar su verificación."
        );
        $("#btnSalir").text("Salir");
      }
    </script>
    <script>
      var dataE = new FormData();
      var contador = 0;
      var list = [];
      // Event listener para el click en el botón "Crear sitio web"
      document
        .getElementById("btnCrearSitioWeb")
        .addEventListener("click", function () {
          var validacion = true;
          if (validacion) {
            // Obtener el valor seleccionado en el combobox
            const selectedDomain =
              document.getElementById("selectDominio").value;
            if (contador > 0) {
              for (let i = 0; i < list.length; i++) {
                dataE.append("file_" + i, list[i].file); // Realiza una acción con cada elemento de la lista
              }

              // Agregar el ID al FormData
              dataE.append("dominio", selectedDomain);
              // Enviar el valor al servidor utilizando fetch o cualquier otra técnica (debes definir la URL a la que enviar los datos)
              fetch('{% url "crear_sitio_web_a" %}', {
                method: "POST",
                body: dataE,
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.redirect) {
                    window.location.href = data.redirect; // Redirigir a la URL especificada
                  } else {
                    // Manejar otra lógica de respuesta si es necesario
                  }
                })
                .catch((error) => {
                  // Manejar errores si la solicitud falla
                });
            } else {
              // Enviar el valor al servidor utilizando fetch o cualquier otra técnica (debes definir la URL a la que enviar los datos)
              fetch('{% url "crear_sitio_web" %}', {
                method: "POST",
                body: JSON.stringify({ dominio: selectedDomain }),
                headers: {
                  "Content-Type": "application/json",
                },
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.redirect) {
                    window.location.href = data.redirect; // Redirigir a la URL especificada
                  } else {
                    // Manejar otra lógica de respuesta si es necesario
                  }
                })
                .catch((error) => {
                  // Manejar errores si la solicitud falla
                });
            }
          } else {
            error();
          }
        });

      // Obtener el área de carga
      var fileUploadArea = document.getElementById("fileUploadArea");

      var input = document.querySelector("#input-file");

      fileUploadArea.addEventListener("click", (e) => {
        input.click();
      });

      input.addEventListener("change", (e) => {
        files = this.files;
        fileUploadArea.classList.add("active");
        showFiles(files);
        fileUploadArea.classList.remove("active");
      });

      // Escuchar el evento de arrastrar sobre el área de carga
      fileUploadArea.addEventListener("dragover", function (e) {
        e.preventDefault();
        fileUploadArea.classList.add("active");
        fileUploadArea.textContent = "Suelta para subir el archivo";
      });

      // Escuchar el evento de salida del área de carga
      fileUploadArea.addEventListener("dragleave", function () {
        e.preventDefault();
        fileUploadArea.classList.remove("active");
        fileUploadArea.textContent =
          "Arrastra y suelta archivos o haz clic aquí para subirlos";
      });

      // Manejar el evento de soltar archivos en el área de carga
      fileUploadArea.addEventListener("drop", function (e) {
        e.preventDefault();
        files = e.dataTransfer.files;
        showFiles(files);
        fileUploadArea.classList.remove("active");
        fileUploadArea.textContent =
          "Arrastra y suelta archivos o haz clic aquí para subirlos";
      });

      function showFiles(files) {
        if (files.length == undefined) {
          processFile(files);
        } else {
          for (const file of files) {
            processFile(file);
          }
        }
      }

      function processFile(file) {
        console.log(file);

        console.log(list);
        const docType = file.type;
        const validExtensions = [
          "image/jpg",
          "image/jpeg",
          "image/png",
          "application/pdf",
          "application/doc",
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
          "application/txt",
          "image/gif",
          "video/mp4",
          "video/avi",
          "audio/mp3",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "application/vnd.openxmlformats-officedocument.presentationml.presentation",
          "application/x-zip-compressed",
        ];
        console.log(docType);
        if (validExtensions.includes(docType)) {
          const fileReader = new FileReader();
          const id = `file-${Math.random().toString(32).substring(7)}`;

          fileReader.addEventListener("load", (e) => {
            const fileUrl = fileReader.result;
            let nuevoElemento = {
              id: id,
              file: file,
            };
            list.push(nuevoElemento);
            const image = `
                        <div id= "${id}" class = "files-container">
                            <img src= "${fileUrl}" alt="${file.name}" width="50">
                            <div class="status">
                                <span>${file.name}</span>
                                <span class = "status-tetx">Loading...</span>
                                <button class="btn btn-warning" onclick="deleteFile('${id}')">Eliminar</button>
                            </div>
                        </div>
                    `;
            document.querySelector("#preview").innerHTML =
              image + document.querySelector("#preview").innerHTML;
          });

          fileReader.readAsDataURL(file);
          //uploadFile(file, id);
          contador += 1;
        } else {
          alert("Archivo no valido");
        }
      }

      function deleteFile(id) {
        const fileIndex = list.findIndex((file) => file.id === id);
        if (fileIndex !== -1) {
          list.splice(fileIndex, 1); // Eliminar el archivo de la lista global
          const elementToRemove = document.getElementById(id);
          elementToRemove.remove();
          contador -= 1;
        }
      }
    </script>

    <script>
      document
        .getElementById("fileInput")
        .addEventListener("change", function (e) {
          const fileList = document.querySelector(".file-list");
          fileList.innerHTML = ""; // Borrar la lista anterior

          for (let i = 0; i < this.files.length; i++) {
            const listItem = document.createElement("li");
            listItem.className = "file-list-item";
            listItem.innerHTML = `
                    <span>${this.files[i].name}</span>
                    <button class="btn btn-danger">Eliminar</button>
                `;
            fileList.appendChild(listItem);
          }
        });
    </script>
    <script>
      function cerrarModal() {
        $("#errorModal").modal("hide");
      }
      function error() {
        $("#errorModal").modal("show");
        $("#errorModalTitle").text("Error");
        $("#errorModalMessage").text(
          "Parece que tu tarjeta no ha sido verificada correctamente. Es necesario realizar su verificación."
        );
        $("#btnSalir").text("Salir");
      }
    </script>
  </body>
</html>

{% endblock %}
