{% extends 'index.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{%static 'css/dominio.css'%}" type="text/css" />
  <link rel="stylesheet" href="{%static 'css/styles.css'%}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <title>Dominios</title>
  <style>
    /* Estilos para el botón Volver */
    .btn-volver {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    .btn-volver:hover {
      background-color: #0056b3;
      color: white;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <section>
    <h2>Dominios Activos - Reporte de {{distribuidor.nombreDistribuidor}}</h2>
    {% if datos_clientes %}
    <table>
      <tr>
        <th>Nombre cliente</th>
        <th>Dominio Asociado</th>
        <th>Extensión Asociada</th>
        <th>Meses de Contrato</th>
        <th>Fecha Solicitud</th>
        <th>Estado de Dominio</th>
      </tr>
      {% for dato_cliente in datos_clientes %}
      {% for dominio in dato_cliente.dominio %}
      <tr>
        <td>{{ dato_cliente.cliente.nombreCliente }}</td>
        <td>{{ dominio.nombreDominio }}</td>
        <td>{{ dominio.distribuidor_extensiondominio }}</td>
        <td>{{ dominio.tiempoPropiedad }}</td>
        <td>{{ dominio.fechaSolicitud }}</td>
        <td>{{ dominio.estado }}</td>
        <!-- Agrega más columnas según sea necesario -->
      </tr>
      {% endfor %}
      {% endfor %}
    </table>
    {% else %}
    <h2>No se encontraron contratos</h2>
    {% endif %}
  </section>

  <section>
    <h2>Dominios Cancelados</h2>
    {% if dominiosCan %}
    <table>
      <tr>
        <th>Nombre dominio</th>
        <th>Extensión Asociada</th>
        <th>Cliente</th>
        <th>Fecha Solicitud</th>
        <th>Fecha Cancelación</th>
      </tr>
      {% for domcan in dominiosCan %}
      <tr>
        <td>{{ domcan.nombreDominio }}</td>
        <td>{{ domcan.extensionDominio }}</td>
        <td>{{ domcan.clienteId.nombreCliente }}</td>
        <td>{{ domcan.fechaSolicitud }}</td>
        <td>{{ domcan.fechaCancelacion }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <h2>No se han cancelado dominios</h2>
    {% endif %}
  </section>
  <a href="{% url 'dashboard' %}" class="btn-volver">Volver</a>
</body>

<script src="js/dominio.js" type="text/javascript"></script>

</html>
{% endblock %}